@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importa las fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Manrope:wght@400;500;700&display=swap');

/* Define variables CSS */
:root {
  --font-primary:
    'Inter', sans-serif; /* Similar a Helvetica Now (texto general) */
  --font-secondary:
    'Manrope', sans-serif; /* Similar a Neue Montreal (títulos) */
}

/* Aplica las fuentes */
body {
  font-family: var(--font-primary);
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--font-secondary);
  font-weight: 500; /* Medium weight para títulos como JestSee */
}

/* Opcional: Estilo para botones o elementos especiales */
.button,
.cta {
  font-family: var(--font-secondary);
  font-weight: 700;
}

/* Efecto de subrayado animado activado por el hover del grupo */
.group .link-underline {
  position: relative;
  display: inline-block;
}

.group .link-underline::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: -2px;
  background: #34d399; /* text-emerald-400 */
  height: 2px;
  transition: width 0.3s ease-out;
}

.group:hover .link-underline::after {
  width: 100%;
}

.link-underline-dotted {
  position: relative;
  display: inline-block;
}

.link-underline-dotted::after {
  content: '';
  position: absolute;
  left: -24px;
  bottom: -2px;
  width: calc(100% + 24px);
  height: 1px;
  border-bottom: 1px dotted white;
  transition: all 0.3s ease-out;
  opacity: 0;
  width: 0;
}

.group:hover .link-underline-dotted::after {
  opacity: 1;
  width: calc(100% + 24px);
}

@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.25);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

.btn-glow-pulse:hover {
  animation: glow-pulse 1s ease-in-out infinite;
  background-color: white;
  color: black;
}

.behind-navbar-highlight {
  color: rgb(245, 245, 245); /* text-neutral-100 */
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.3),
    0 0 12px rgba(255, 255, 255, 0.25),
    0 0 20px rgba(255, 255, 255, 0.2);

  mix-blend-mode: lighten;
  filter: blur(0.3px);
}

a.website-button:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.15);
}
