---
const navItems = [
  { label: 'Projects', href: '#projects' },
  { label: 'Tech stack', href: '#tech' },
  { label: 'Services', href: '#services' },
  { label: 'Contact', href: '#contact' },
];
---

<nav
  id="navbar"
  class="fixed top-0 left-0 w-full z-50 border-b border-zinc-800 bg-[rgba(9,9,11,0.85)] backdrop-blur px-6 py-5"
>
  <ul class="flex justify-end gap-x-6 items-center max-w-6xl mx-auto pr-10">
    {
      navItems.map((item) => (
        <li class="group">
          <a
            href={item.href}
            class="text-sm text-white transition link-underline"
          >
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
